{% extends 'main/dad.html' %}
{% block body %}


{% if subcategories %}
  <div class="tile-container">
    {% for sub in subcategories %}
      {% if lviv %}
        <a href="{% url 'lviv_category_detail' sub.id %}">
      {% else %}
        <a href="{% url 'category_detail' sub.id %}">
      {%endif%}
        <div class="tile">
          {% if sub.image %}
            <img src="{{ sub.image.url }}" alt="{{ sub.name }}">
          {% endif %}
          <h3>{{ sub.name }}</h3>
        </div>
      </a>
    {% endfor %}
  </div>
{% endif %}

{% if products %}

  <div class="tile-container">
    {% for product in products %}
      {% if lviv %}
        <a href="{% url 'lviv_product_detail' category.id product.id %}">
      {% else %}
        <a href="{% url 'product_detail' category.id product.id %}">
      {%endif%}

        <div class="tile">
          {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
          {% endif %}
          <h3>{{ product.name }}</h3>
          {% if lviv %}
            <h3 class="price">{{ product.lviv_price }} ₴</h3>
          {% else %}
            <h3 class="price">{{ product.price}} ₴</h3>
          {%endif%}
        </div>
      </a>
    {% endfor %}
  </div>

{% endif %}

{% if not subcategories and not products %}
    <div class="tile-container">
        <div class="tile">
        <h3>ой вибачте тут пусто</h3>
        </div>
  </div>
{% endif %}
{% endblock %}
