{% extends 'main/dad.html' %}
{% block body %}

<div class="product-detail">
  {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
  {% endif %}

  {% if  product.name  %}
  <h3>{{ product.name }}</h3>
  {% endif %}
  {% if product.description %}
  <h4>Опис:</h4>
  <p>{{ product.description|linebreaks }}</p>
  {% endif %}
  {% if product.composition %}
  <h4>Склад:</h4>
  <p>{{ product.composition|linebreaks  }}</p>

  {% if lviv %}
    <h2 class="price" > {{ product.lviv_price }} ₴</h2>
  {% else %}
    <h2 class="price" > {{ product.price}} ₴</h2>
  {%endif%}
  {% endif %}

</div>

{% endblock %}
